@{
    ViewData["Title"] = "Comparador de Docentes";
}

<div class="container mt-5">

    <div class="text-center mb-5">

        <h1 class="display-5 fw-bold text-success">
            Comparador de Docentes
        </h1>

        <p class="text-muted">
            Seleccione uno o varios archivos Excel para encontrar docentes repetidos.
        </p>

    </div>

    <div class="card shadow-lg">

        <div class="card-header bg-success text-white">
            Cargar archivos Excel
        </div>

        <div class="card-body">

            <form asp-controller="Docentes"
                  asp-action="Comparar"
                  method="post"
                  enctype="multipart/form-data">

                <div class="mb-3">

                    <label class="form-label">
                        Seleccione los archivos
                    </label>

                    <input type="file"
                           class="form-control"
                           name="archivos"
                           multiple
                           accept=".xlsx,.xls" />

                </div>

                <button type="submit"
                        class="btn btn-success btn-lg">

                    Comparar archivos

                </button>

            </form>

        </div>

    </div>

</div>